---
layout: layouts/legal.njk
title: Impressum
contentId: imprint
---

   <main class="page-content">
        <div class="container">
            <div class="legal-content" id="imprint-de">
              <h1>Impressum</h1>
              <h2 id="m46">Diensteanbieter</h2>
              <p>Martin Hein</p>
              <p>Frankfurter Str. 40</p>
              <p>15907 Lübben</p>

              <h2 id="m56">Kontaktmöglichkeiten</h2><p>E-Mail-Adresse: <a href="mailto:variant-info@variant-release-date-scheduler.com">variant-info@variant-release-date-scheduler.com</a></p>
              <p>Telefon: +49 174 9045592</p>

              <h2 id="m154">Journalistisch-redaktionelle Angebote</h2><p>Inhaltlich verantwortlich: Martin Hein, Frankfurter Str. 40, 15907 Lübben</p>

              <h2 id="m3589">Audiovisuelle Mediendienste</h2><p>Sitzland: Deutschland.</p>
              <p>Zuständige Regulierungs-, bzw. Aufsichtsbehörde: Medienanstalt Berlin-Brandenburg (mabb), www.mabb.de.</p>

              <h2 id="m58">Angaben zum Unternehmen</h2><p>Umsatzsteuer Identifikationsnummer (USt-ID): DE282909187</p>

              <p class="seal"><a href="https://datenschutz-generator.de/" title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank" rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke</a></p>
            </div>
        </div>
    </main>
